div#guide {
    display: none;
}

nav#directories {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 20px;
}

nav#directories span {
    margin-right: 15px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 70px auto;
}

table tr:first-child td {
    padding-bottom: 1rem;
}

table tr td {
    padding: 5px 15px;
}

table tr td:first-child {
    width: 45%;
    text-align: right;
    border-right: 1px blue solid;
}

table tr td:last-child {
    width: 55%;
}

table h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

