:root {
    --link-color: #0066ff;
}

* {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    -webkit-user-select: none;
    user-select: none;
}

div#guide {
    display: none;
}

span[onclick] {
    color: var(--link-color);
    cursor: pointer;
}

span[onclick]:hover {
    color: white;
    background: var(--link-color);
}

nav#directories {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 20px;
}

nav#directories span {
    margin-right: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 70px auto;
}

table tr:first-child td {
    padding-bottom: 1rem;
    font-weight: 400;
}

table tr td {
    padding: 5px 15px;
}

table tr td:first-child {
    width: 41%;
    text-align: right;
    border-right: 1px var(--link-color) solid;
}

table tr td:last-child {
    width: 59%;
    -webkit-user-select: text;
    user-select: text;
}

table tr td:last-child::selection {
    background: var(--link-color);
    color: white;
}

table h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: inherit;
}

